<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Kontaktpatient</th>
            <th class="text-center">Statusdatum</th>
            <th class="text-center">Raum <i class="oi oi-elevator" @onclick="() => Sort(p => p.RoomContact)"></i></th>
            <th class="text-center">Station <i class="oi oi-elevator" @onclick="() => Sort(p => p.WardContact)"></i></th>
            <th class="text-center">Fachabteilung <i class="oi oi-elevator" @onclick="() => Sort(p => p.DepartementContact)"></i></th>
            <th class="text-center">Kontaktzeitraum <i class="oi oi-elevator" @onclick="() => Sort(p => p.ContactStart)"></i></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Data.Contact.Contact contact in Contacts)
        {
            <tr>
                <td class="text-center">
                    @if (contact.InfectionStatus.Nosocomial)
                    {
                        <span class="text-danger">@contact.PatientID</span>
                    }
                    else if (contact.InfectionStatus.Known)
                    {
                        <span class="text-primary">@contact.PatientID</span>
                    }
                    else
                    {
                        @contact.PatientID
                    }
                </td>
                <td class="text-center">
                    @if (contact.InfectionStatus.Nosocomial)
                    {
                        @contact.InfectionStatus.NosocomialDate.Value.ToString("yyyy-MM-dd")
                    }
                    else if (contact.InfectionStatus.Known)
                    {

                    }
                </td>
                <td class="text-center">
                    @(contact.RoomContact ? contact.PatientLocation.Room : "")
                </td>
                <td>
                    @(contact.WardContact ? contact.PatientLocation.Ward : "")
                </td>
                <td class="text-center">
                    @(contact.DepartementContact ? contact.PatientLocation.Departement : "")
                </td>
                <td class="text-center">
                    @contact.ContactStart.ToString("yyyy-MM-dd") - @(contact.ContactEnd.HasValue ? contact.ContactEnd.Value.ToString("yyyy-MM-dd") : "")
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Data.Contact.Contact> Contacts { get; set;}

    private Func<Data.Contact.Contact, IComparable> Prop;
    private bool IsMinSorted = false;

    private void Sort(Func<Data.Contact.Contact, IComparable> getProp)
    {
        if (Contacts != null && Contacts.Count > 0 && (Prop != getProp || !(Prop == getProp && IsMinSorted)))
        {
            Prop = getProp;
            IsMinSorted = true;
            Contacts = Contacts
            .OrderBy(x => getProp(x))
            .ToList();
        }
        else
        {
            IsMinSorted = false;
            Contacts = Contacts
            .OrderByDescending(x => getProp(x))
            .ToList();
        }
    }
}
