@using Blazorise;
@using SmICSCoreLib.Factories.MiBi.PatientView;
@using SmICSCoreLib.Factories.PatientMovementNew;


<Collapse Visible="@Collapsed" Margin="Margin.Is5.Is0.FromBottom.Is3.FromTop" Padding="Padding.Is2.FromLeft">
    <CollapseHeader Padding="Padding.Is0.Is2.FromLeft" Border="Border.Is0.OnBottom">
        <Heading Size="HeadingSize.Is6">
            <Button Clicked="@(()=>Collapsed = !Collapsed)" Width="Width.Is100">
                <table class="table-sm w-100 mb-0">
                    <thead class="table-header-background text-white border-bottom-0">
                        <tr>
                            <th>Fallkennung</th>
                            <th>Aufnahme</th>
                            <th>Entlassung-ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Hospitalization.Key.CaseID</td>
                            <td>@Hospitalization.Key.Admission.Date.Date.ToString("yyyy-MM-dd")</td>
                            <td>@(Hospitalization.Key.Discharge.Date.HasValue ? Hospitalization.Key.Discharge.Date.Value.Date.ToString("yyyy-MM-dd") : "-")</td>
                        </tr>
                    </tbody>
                </table>
            </Button>
        </Heading>
    </CollapseHeader>
    <CollapseBody>
        <Card Border="Border.Is0" Margin="Margin.Is0">
            <CardBody Padding="Padding.Is0.Is2.FromLeft">
                <Fields Flex="Flex.AlignItems.Start">
                    <Field Horizontal="true">
                        <Span class="oi oi-fork" TextColor="TextColor.Info" style="width:auto;"></Span>
                        <FieldBody Width="Width.Is50">
                            <CardTitle Size="5" TextColor="TextColor.Black50">Befund</CardTitle>
                        </FieldBody>
                    </Field>
                </Fields>
            </CardBody>
        </Card>
        @foreach (LabResult labResult in Hospitalization.Value)
        {
            <LabResultCard LabResult="labResult" />
        }
    </CollapseBody>
</Collapse>


@code {
    [Parameter]
    public KeyValuePair<Hospitalization, List<LabResult>> Hospitalization { get; set; }

    private bool Collapsed;
}
