@using Blazorise;
@using SmICSCoreLib.Factories.MiBi.PatientView;

<Collapse Visible="@Collapsed">
    <CollapseHeader Padding="Padding.Is0.Is2.FromLeft" Border="Border.Is0.OnBottom">
        <Heading Size="HeadingSize.Is6">
            <button @onclick = "@(() => Collapsed = !Collapsed)" class="w-100">
                <table class="table-sm w-100 mb-0">
                    <thead class="th-bg-pathogen border-bottom-0 text-white">
                        <tr>
                            <th>Name</th>
                            <th>Nachweis</th>
                            <th>Zeitstempel</th>
                            <th>Häufigkeit</th>
                            <th>Isolatnummer</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td>@Pathogen.Name</td>
                            <td>@Pathogen.Result</td>
                            <td>@Pathogen.Timestamp</td>
                            <td>@Pathogen.Rate</td>
                            <td>@Pathogen.IsolatNr</td>
                        </tr>
                    </tbody>
                </table>
            </button>
        </Heading>
    </CollapseHeader>
    <CollapseBody>
        @if (Pathogen.Antibiograms != null)
        {
            <AntibiogramCard Antibiograms="Pathogen.Antibiograms"/>
        }
    </CollapseBody>
</Collapse>
@code {
    [Parameter]
    public Pathogen Pathogen { get; set; }
    private bool Collapsed;
}
