@namespace SmICSWebApp.Data.PatienView

@using Blazorise;
@using SmICSCoreLib.Factories.MiBi.PatientView;

<Collapse Visible="@Collapsed">
    <CollapseHeader Padding="Padding.Is0.Is2.FromStart" Border="Border.Is0.OnBottom">
        <Heading Size="HeadingSize.Is6">
            <button @onclick="@(()=>Collapsed = !Collapsed)" class="w-100">
                <table class="table-sm mb-0 w-100">
                    <thead class="th-bg-specimen border-bottom-0 text-white">
                        <tr>
                            <th>Probenart</th>
                            <th>Labor-ID</th>
                            <th>Zeitpunkt der Probeentnahme</th>
                            <th>Zeitpunkt des Probeneingangs</th>
                            <th>Körperstelle</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td>@Specimen.Kind</td>
                            <td>@Specimen.LabID</td>
                            <td>@Specimen.SpecimenCollectionDateTime</td>
                            <td>@Specimen.SpecimenReceiptDate</td>
                            <td>@Specimen.Location</td>
                        </tr>
                    </tbody>
                </table>
            </button>
        </Heading>
    </CollapseHeader>
    <CollapseBody>
        <Card Border="Border.Is0" Margin="Margin.Is0">
            <CardBody Padding="Padding.Is0.Is2.FromStart">
                <Fields Flex="Flex.AlignItems.Start">
                    <Field Horizontal="true">
                        <Span class="oi oi-fork" TextColor="TextColor.Info" style="width:auto;"></Span>
                        <FieldBody Width="Width.Is50">
                            <CardTitle Size="5" TextColor="TextColor.Black50">Erreger</CardTitle>
                        </FieldBody>
                    </Field>
                </Fields>
            </CardBody>
        </Card>
        @foreach (Pathogen p in Specimen.Pathogens)
        {
            <SmICSWebApp.Pages.PatientView.PathogenCard Pathogen="p" />
        }
    </CollapseBody>
</Collapse>

@code {
    [Parameter]
    public Specimen Specimen { get; set; }

    private bool Collapsed;
}
