@page "/hospital"

@using SmICSWebApp.Data
@using System.Collections.Generic;
@using SmICSCoreLib.AQL.Patient_Stay.Count;
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.PieChart

@inject DataService dataService
@inject IJSRuntime JSRuntime

<h3>Statistik (Prototyp)</h3>

<div class="card">
    <div class="row">
        <StatistikNav>
        </StatistikNav>

        <div class="card-body col-10">
            <div style="padding: 0px 0px 100px 0px;">
                @if (allPositivTest == null)
                {
                    @if (status == true)
                    {
                        <p><em>Daten werden geladen...</em></p>
                        <div class="spinner"></div> }
                    else
                    {
                        <p><em>Es stehen momentan leider keine Daten zu Verfügung!</em></p>
                        <p><em>Versuchen Sie bitte später diese Seite aufzurufen!</em></p>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-6">
                            <div class="card flex-fill">
                                <div class="card-header" style="background-color: #14477b; color: white;">
                                    <div class="row">
                                        @*<img src="./resources/iconfinder.png" style=" width: 35px; height: 35px;" />*@
                                        <div class="col-7">
                                            <h5 class="card-title">Tägliche Lage</h5>
                                        </div>
                                        <div class="col-4" style="justify-content: flex-end;">
                                            <h5 class="card-title">@date</h5>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xxl-3 d-flex">
                                            <div class="card flex-fill">
                                                <div class="card-body" id="body-info">
                                                    <h6 class="card-title"> Neue Fälle </h6>
                                                    <span class="h5 d-inline-block mt-1 mb-3"> 2 </span>
                                                    <h6 class="card-title"> Todesfälle </h6>
                                                    <span class="h5 d-inline-block mt-1 mb-3"> 0 </span>
                                                    <h6 class="card-title"> Genesen </h6>
                                                    <span class="h5 d-inline-block mt-1 mb-3"> 15 </span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-xxl-3 d-flex">
                                            <div class="card flex-fill">
                                                <div class="card-body" id="body-info">
                                                    <h6 class="card-title"> Aktive Fälle </h6>
                                                    <span class="h5 d-inline-block mt-1 mb-3"> 42 </span>
                                                    @*<p class="mb-2"> Intensivstation 2 | Normalstation 40 </p>*@
                                                    <Chart Config="_pieConfig1"></Chart>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xxl-3 d-flex">
                                            <div class="card flex-fill">
                                                <div class="card-body" id="body-info">
                                                    <h6 class="card-title"> Durchgeführte Tests </h6>
                                                    <span class="h5 d-inline-block mt-1 mb-3"> 500 </span>
                                                    @*<p class="mb-2"> Positiv 10 </p>
                                                    <p class="mb-2"> Negativ 490 </p>*@
                                                    <Chart Config="_pieConfig2"></Chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-4 col-xxl-3 d-flex">
                                            <div class="card flex-fill">
                                                <div class="card-body" id="body-info">
                                                    <Chart Config="_pieConfig"></Chart>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>*@

                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card flex-fill">
                                <Chart Config="_config"></Chart>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-6">
                            <div class="card flex-fill">
                                <div class="card-header" style="padding-top: 10px;">
                                    <h5 class="card-title">Fallzahlen im Krankenhaus</h5>

                                </div>
                                <div class="card-body">
                                    <div class="table-wrapper-scroll-y" style="padding-bottom: 20px;">
                                        <table class="table table-bordered table-hover mb-0">
                                            <thead style="background-color: #7FBDD2;">
                                                <tr>
                                                    <th scope="col">Aktuelle Fallzahlen</th>
                                                    <th scope="col">Fallzahl gesamt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Laborbestätigt</th>
                                                    <td>@allPositivPat.Count()</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Mitgebrachte Fälle</th>
                                                    <td>@anzahlFaelle</td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">
                                                        Mögliche Nosokomiale Infektion
                                                        <a href="" @onmouseover="() => ShowFirstText()" @onclick:preventDefault style="color:red">
                                                            *
                                                        </a>
                                                    </th>
                                                    @if (@allNoskumalPat.Count() > 0)
                                                    {
                                                        if (showNosk == false)
                                                        {
                                                            <td>
                                                                @allNoskumalPat.Count()
                                                                <br>
                                                                <a href="" @onclick="() => ShowNoskIDs()" @onclick:preventDefault style="color:red">
                                                                    Anzeigen
                                                                </a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                @allNoskumalPat.Count()
                                                                <br>
                                                                <a href="" @onclick="() => ShowNoskIDs()" @onclick:preventDefault style="color:red">
                                                                    Ausblenden
                                                                </a>
                                                            </td>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <td>@allNoskumalPat.Count()</td>
                                                    }
                                                </tr>
                                                @if (showNosk == true)
                                                {
                                                    @foreach (var patient in @allNoskumalPat)
                                                    {
                                                        <tr>
                                                            <th scope="row" style="color:red">@patient.PatientID </th>
                                                            <td> </td>
                                                        </tr>
                                                    }
                                                }

                                                <tr>
                                                    <th scope="row">
                                                        Wahrscheinliche Nosokomiale Infektion
                                                        <a href="" @onmouseover="() => ShowSecondText()" @onclick:preventDefault style="color:red">
                                                            *
                                                        </a>
                                                    </th>

                                                    @if (noskumalPatByContact.Count() > 0)
                                                    {
                                                        if (showNoskByCont == false)
                                                        {
                                                            <td>
                                                                @noskumalPatByContact.Count()
                                                                <br>
                                                                <a href="" @onclick="() => ShowNoskContIDs()" @onclick:preventDefault style="color:red">
                                                                    Anzeigen
                                                                </a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                @noskumalPatByContact.Count()
                                                                <br>
                                                                <a href="" @onclick="() => ShowNoskContIDs()" @onclick:preventDefault style="color:red">
                                                                    Ausblenden
                                                                </a>
                                                            </td>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <td> @noskumalPatByContact.Count() </td>
                                                    }

                                                </tr>
                                                @if (showNoskByCont == true)
                                                {
                                                    @foreach (var noskPatient in noskumalPatByContact)
                                                    {
                                                        <tr>
                                                            <th scope="row" style="color:red">@noskPatient.PatientID </th>
                                                            <td> </td>
                                                        </tr>
                                                    }
                                                }

                                                <tr>
                                                    <th scope="row">Anzahl positiver Tests</th>
                                                    <td>@allPositivTest.Count()</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Anzahl negativer Tests</th>
                                                    <td>@allNegativPat.Count()</td>
                                                </tr>

                                            </tbody>
                                        </table>

                                        <br>
                                        @if (firstText == true && secondText == false)
                                        {
                                            <p style="font-size:0.8em">
                                                *eine Mögliche Nosokomiale Infektion ist, wenn der Patient war bei stationärer Aufnahme negativ auf SARS-CoV-2
                                                getestet war und hat keine SARS-CoV-2 Symptome gezeigt. Und hat erstmal eine positive PCR von SARS-CoV-2
                                                ab Tag 4 nach stationärer Aufnahme.
                                            </p>
                                        }

                                        @if (firstText == false && secondText == true)
                                        {
                                            <p style="font-size:0.8em">
                                                *eine Wahrscheinliche Nosokomiale Infektion ist, wenn der Patient bei stationärer Aufnahme negativ auf SARS-CoV-2
                                                getestet war und hat keine SARS-CoV-2 Symptome gezeigt. Und hat erstmal eine positive PCR für oder den
                                                kulturellen Nachweis von SARS-CoV-2 ab Tag 4 nach stationärer Aufnahme. Und es besteht ein klassisch
                                                infektionsepidemiologischer Zusammenhang (Ort-Zeit-Kontext) zu einem nachgewiesen infizierten potentiellen im
                                                Zeitraum der Inkubationszeit (2-14 Tage VOR Beginn der Symptome oder Probenahme) im Krankenhaus.
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div>
                                <div class="card flex-fill">
                                    <div class="card-header">
                                        <h5 class="card-title">Aufenthalt im Krankenhaus</h5>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-bordered table-hover mb-0">
                                            <thead style="background-color: #7FBDD2;">
                                                <tr>
                                                    <th scope="col">Aktuelle Fallzahlen </th>
                                                    <th scope="col">Anzahl gesamt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Anzahl aufgenommener Patienten</th>
                                                    <td>@allPositivPat.Count()</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Anzahl Patiententage</th>
                                                    <td>@anzahlPatTage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@code {
    private List<CountDataModel> allPositivTest;
    private List<CountDataModel> allNegativPat;
    private List<CountDataModel> allPositivPat;
    private List<Patient> allNoskumalPat;
    private List<Patient> noskumalPatByContact;
    private int anzahlFaelle;
    private int anzahlPatTage;
    private bool status;
    private bool showNosk;
    private bool showNoskByCont;
    private bool firstText;
    private bool secondText;
    private string date;

    private LineConfig _config;
    private Chart _chart;
    private Dictionary<string, string> ehrDaten;
    private Dictionary<string, int> sortEhrDaten;
    private Dictionary<string, int> pieDaten;
    private Dictionary<string, int> pieDaten2;

    private PieConfig _pieConfig1;
    private PieConfig _pieConfig2;

    protected override async Task OnInitializedAsync()
    {
        date = DateTime.Now.ToString("dddd, dd MMMM yyyy");
        status = true;
        showNosk = false;
        showNoskByCont = false;
        await Task.Run(LoadEhrData);
    }

    private void LoadEhrData()
    {
        try
        {
            allPositivTest = dataService.GetAllPositivTest();
            allPositivPat = dataService.GetPositivPat(allPositivTest);
            allNegativPat = dataService.GetNegativPat();
            allNoskumalPat = dataService.GetAllNoskumalPat(allPositivTest);
            noskumalPatByContact = dataService.GetNoskumalByContact(allNoskumalPat, allPositivPat);
            anzahlFaelle = allPositivPat.Count() - allNoskumalPat.Count();
            anzahlPatTage = dataService.PatStay(allPositivPat);

            Dictionary<string, int> sortDictPositiv = GetDataForChart(allPositivTest);
            Dictionary<string, int> sortDictNegativ = GetDataForChart(allNegativPat);
            LineChart(sortDictPositiv, sortDictNegativ);

            pieDaten = new();
            pieDaten.Add("Intensiv", 10);
            pieDaten.Add("Normal", 40);

            _pieConfig1 = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = false,
                        Text = "ChartJs.Blazor Pie Chart"
                    }
                }
            };

            PieChart(_pieConfig1, pieDaten);

            pieDaten2 = new();
            pieDaten2.Add("Positiv", 10);
            pieDaten2.Add("Negativ", 10);

            _pieConfig2 = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = false,
                        //Text = "ChartJs.Blazor Pie Chart"
                    }
                }
            };

            PieChart(_pieConfig2, pieDaten2);
            //GetPieChart(_pieConfig2, "Positiv", "Negativ", 25, 25);

            status = true;
        }
        catch (Exception)
        {
            status = false;
        }

    }

    private void ShowNoskIDs()
    {
        if (allNoskumalPat.Count > 0)
        {
            if (showNosk == false)
            {
                showNosk = true;
            }
            else
            {
                showNosk = false;
            }
        }
        else
        {
            showNosk = false;
        }
    }

    private void ShowNoskContIDs()
    {
        if (noskumalPatByContact.Count > 0)
        {
            if (showNoskByCont == false)
            {
                showNoskByCont = true;
            }
            else
            {
                showNoskByCont = false;
            }
        }
        else
        {
            showNoskByCont = false;
        }
    }

    private void ShowFirstText()
    {
        if (firstText == false)
        {
            secondText = false;
            firstText = true;
        }
        else
        {
            firstText = false;
        }
    }

    private void ShowSecondText()
    {
        if (secondText == false)
        {
            firstText = false;
            secondText = true;
        }
        else
        {
            secondText = false;
        }
    }


    private Dictionary<string, int> GetDataForChart(List<CountDataModel> patientenTest)
    {
        ehrDaten = new();
        foreach (var test in patientenTest)
        {
            if (ehrDaten.ContainsKey(test.PatientID))
            {
                ehrDaten.Remove(test.PatientID);
                ehrDaten.Add(test.PatientID, test.Zeitpunkt_des_Probeneingangs.ToString("dd MMMM yyyy"));
            }
            else
            {
                ehrDaten.Add(test.PatientID, test.Zeitpunkt_des_Probeneingangs.ToString("dd MMMM yyyy"));
            }
        }

        sortEhrDaten = new();
        int i;
        foreach (var data in ehrDaten)
        {
            if (sortEhrDaten.ContainsKey(data.Value))
            {
                sortEhrDaten.TryGetValue(data.Value, out i);
                sortEhrDaten.Remove(data.Value);
                sortEhrDaten.Add(data.Value, i + 1);
            }
            else
            {
                sortEhrDaten.Add(data.Value, 1);
            }
        }

        var sortedDict = sortEhrDaten.OrderBy(x => x.Key).ToDictionary(x => x.Key, x => x.Value);
        return sortedDict;
    }


    private void LineChart(Dictionary<string, int> sortDictPositiv, Dictionary<string, int> sortDictNegativ)
    {
        _config = new LineConfig
        {
            Options = new LineOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Anzahl der Durchgeführte Tests"
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Hover = new Hover
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Scales = new Scales
                {
                    XAxes = new List<CartesianAxis>
        {
                            new CategoryAxis
                            {
                                 ScaleLabel = new ScaleLabel
                                {
                                    LabelString = "Datum"
                                }
                            }
                        },
                    YAxes = new List<CartesianAxis>
         {
                            new LinearCartesianAxis
                            {
                                Ticks = new LinearCartesianTicks
                                {
                                    BeginAtZero = true
                                }
                            }
                     }
                }
            }
        };

        foreach (string datum in sortDictPositiv.Keys)
        {
            _config.Data.Labels.Add(datum);
        }

        //foreach (string datum in sortDictPositiv.Keys)
        //{
        //    _config.Data.Labels.Add(datum);
        //}


        IDataset<int> posivtivDataset = new LineDataset<int>(sortDictPositiv.Values)
        {
            Label = "Positive Tests",
            BackgroundColor = "#B41F2A",
            BorderColor = "#B41F2A",
            Fill = FillingMode.Disabled
        };

        IDataset<int> negativDataset = new LineDataset<int>(sortDictNegativ.Values)
        {
            Label = "Negative Tests",
            BackgroundColor = "",
            BorderColor = "#14477b",
            Fill = FillingMode.Disabled
        };

        //_config.Data.Datasets.Add(negativDataset);

        _config.Data.Datasets.Add(posivtivDataset);

    }


    private void PieChart(PieConfig _pieConfig, Dictionary<string, int> pieDaten)
    {
        //_pieConfig = new PieConfig
        //{
        //    Options = new PieOptions
        //    {
        //        Responsive = true,
        //        Title = new OptionsTitle
        //        {
        //            Display = false,
        //            Text = "ChartJs.Blazor Pie Chart"
        //        }
        //    }
        //};

        foreach (string color in pieDaten.Keys)
        {
            _pieConfig.Data.Labels.Add(color);
        }

        PieDataset<int> dataset = new PieDataset<int>(pieDaten.Values)
        {
            BackgroundColor = new[]
            {
                ColorUtil.ColorHexString(180, 31, 42), // Slice 1 aka "Red"
                //ColorUtil.ColorHexString(255, 205, 86), // Slice 2 aka "Yellow"
                ColorUtil.ColorHexString(20, 54, 123), // Slice 3 aka "Green"
                //ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
            }
        };


        _pieConfig.Data.Datasets.Add(dataset);
    }


}