@page "/patient"
@page "/patient/{PatientID}"


@using Blazorise;
@using SmICSCoreLib.Factories.PatientInformation.PatientData;
@using SmICSCoreLib.Factories.MiBi;
@using SmICSCoreLib.Factories.MiBi.PatientView;
@using SmICSCoreLib.Factories.General;

@inject IPatientDataFactory _patientData;
@inject ILabResultFactory _labData;

<Card Border="Border.Is0" Padding="Padding.Is2.FromLeft">
    <CardBody Padding="Padding.Is0.FromTop">
        <CardTitle TextColor="TextColor.Dark">
            <h1 class="welcome-header-patient">Patientenansicht</h1>
        </CardTitle>
        <CardText Background="Background.Info" TextColor="TextColor.White" Margin="Margin.Is5.Is3.FromTop.Is3.FromBottom">
            <span class="oi oi-info p-2" aria-hidden="true">&nbsp;&nbsp;</span>
            Hier könnte Ihr Text stehen!
        </CardText>
    </CardBody>
</Card>
<div style="margin-left: 2%; margin-right: 2%;">
    <Card Margin="Margin.Is5.Is3.FromBottom.Is3.FromTop" Padding="Padding.Is2.FromLeft">
        <CardBody Padding="Padding.Is2" Background="Background.Light" Class="box-style">
            <Fields Flex="Flex.AlignItems.Start">
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">PatientID</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Placeholder="Bitte geben Sie eine valide Patientenbezeichnung ein..." @bind-text="@PatientID" Autofocus="false" />
                    </FieldBody>
                </Field>
                <Field Margin="Margin.Is4.FromLeft">
                    <Button Clicked="@Submit" id="btn"><Span class="oi oi-magnifying-glass" TextColor="TextColor.White"></Span></Button>
                </Field>
            </Fields>
        </CardBody>
    </Card>
</div>
<div class="span_hr">
    <span>&nbsp;</span>
</div>

<div style="margin-bottom:7.5em;">

    @if (patient == null)
    {
        <Heading Size="HeadingSize.Is4" TextColor="TextColor.Black50" Margin="Margin.Is5.Is3.FromBottom.Is3.FromTop">Patient: @PatientID</Heading> }
    else
    {
        <Heading Size="HeadingSize.Is4" TextColor="TextColor.Black50" Margin="Margin.Is5.Is3.FromBottom.Is3.FromTop">Patient: @patient.Name</Heading>}

    @if (patientResults != null)
    {
        @foreach (LabResult c in patientResults)
        {
            <Collapse Visible="@Collapsed" Margin="Margin.Is5.Is0.FromBottom.Is3.FromTop" Padding="Padding.Is2.FromLeft">
                <CollapseHeader Padding="Padding.Is0.Is2.FromLeft" Border="Border.Is0.OnBottom">
                    <Heading Size="HeadingSize.Is6">
                        <Button Clicked="@(()=>Collapsed = !Collapsed)" Width="Width.Is100">
                            <Table Narrow="true" Margin="Margin.Is0.FromBottom">
                                <TableHeader Background="Background.Info" Border="Border.Is0.OnBottom" TextColor="TextColor.White">
                                    <TableRow>
                                        <TableHeaderCell>Fallkennung</TableHeaderCell>
                                        <TableHeaderCell>Status</TableHeaderCell>
                                        <TableHeaderCell>Befundzeit</TableHeaderCell>
                                        <TableHeaderCell>Auftrags-ID</TableHeaderCell>
                                        <TableHeaderCell>Empfängerstandort</TableHeaderCell>
                                        <TableHeaderCell>Anforderungen</TableHeaderCell>
                                    </TableRow>
                                </TableHeader>
                                <TableBody Background="Background.White">
                                    <TableRow>
                                        <TableRowCell>@c.CaseID</TableRowCell>
                                        <TableRowCell>@c.Status</TableRowCell>
                                        <TableRowCell>@c.ResultDateTime</TableRowCell>
                                        <TableRowCell>@c.OrderID</TableRowCell>
                                        <TableRowCell>@c.Sender</TableRowCell>
                                        <TableRowCell>@c.Requirements</TableRowCell>
                                    </TableRow>
                                </TableBody>
                            </Table>
                        </Button>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <Card Border="Border.Is0" Margin="Margin.Is0">
                        <CardBody Padding="Padding.Is0.Is2.FromLeft">
                            <Fields Flex="Flex.AlignItems.Start">
                                <Field Horizontal="true">
                                    <Span class="oi oi-fork" TextColor="TextColor.Info" style="width:auto;"></Span>
                                    <FieldBody Width="Width.Is50">
                                        <CardTitle Size="5" TextColor="TextColor.Black50">Proben</CardTitle>
                                    </FieldBody>
                                </Field>
                            </Fields>
                        </CardBody>
                    </Card>
                    @foreach (Specimen m in c.Specimens)
                    {
                        <Collapse Visible="@Collapsed">
                            <CollapseHeader Padding="Padding.Is0.Is2.FromLeft" Border="Border.Is0.OnBottom">
                                <Heading Size="HeadingSize.Is6">
                                    <Button Clicked="@(()=>Collapsed = !Collapsed)" Width="Width.Is100">
                                        <Table Narrow="true" Margin="Margin.Is0.FromBottom">
                                            <TableHeader Background="Background.Info" Border="Border.Is0.OnBottom" TextColor="TextColor.White">
                                                <TableRow>
                                                    <TableHeaderCell>Probenart</TableHeaderCell>
                                                    <TableHeaderCell>Labor-ID</TableHeaderCell>
                                                    <TableHeaderCell>Zeitpunkt der Probeentnahme</TableHeaderCell>
                                                    <TableHeaderCell>Zeitpunkt des Probeneingangs</TableHeaderCell>
                                                    <TableHeaderCell>Körperstelle</TableHeaderCell>
                                                </TableRow>
                                            </TableHeader>
                                            <TableBody Background="Background.White">
                                                <TableRow>
                                                    <TableRowCell>@m.Kind</TableRowCell>
                                                    <TableRowCell>@m.LabID</TableRowCell>
                                                    <TableRowCell>@m.SpecimenCollectionDateTime</TableRowCell>
                                                    <TableRowCell>@m.SpecimenReceiptDate</TableRowCell>
                                                    <TableRowCell>@m.Location</TableRowCell>
                                                </TableRow>
                                            </TableBody>
                                        </Table>
                                    </Button>
                                </Heading>
                            </CollapseHeader>
                            <CollapseBody>
                                <Card Border="Border.Is0" Margin="Margin.Is0">
                                    <CardBody Padding="Padding.Is0.Is2.FromLeft">
                                        <Fields Flex="Flex.AlignItems.Start">
                                            <Field Horizontal="true">
                                                <Span class="oi oi-fork" TextColor="TextColor.Info" style="width:auto;"></Span>
                                                <FieldBody Width="Width.Is50">
                                                    <CardTitle Size="5" TextColor="TextColor.Black50">Erreger</CardTitle>
                                                </FieldBody>
                                            </Field>
                                        </Fields>
                                    </CardBody>
                                </Card>
                                @foreach (Pathogen p in m.Pathogens)
                                {
                                    <Collapse Visible="@Collapsed">
                                        <CollapseHeader Padding="Padding.Is0.Is2.FromLeft" Border="Border.Is0.OnBottom">
                                            <Heading Size="HeadingSize.Is6">
                                                <Button Clicked="@(()=>Collapsed = !Collapsed)" Width="Width.Is100">
                                                    <Table Narrow="true" Margin="Margin.Is0.FromBottom">
                                                        <TableHeader Background="Background.Info" Border="Border.Is0.OnBottom" TextColor="TextColor.White">
                                                            <TableRow>
                                                                <TableHeaderCell>Name</TableHeaderCell>
                                                                <TableHeaderCell>Nachweis</TableHeaderCell>
                                                                <TableHeaderCell>Zeitstempel</TableHeaderCell>
                                                                <TableHeaderCell>Häufigkeit</TableHeaderCell>
                                                                <TableHeaderCell>Isolatnummer</TableHeaderCell>
                                                            </TableRow>
                                                        </TableHeader>
                                                        <TableBody Background="Background.White">
                                                            <TableRow>
                                                                <TableRowCell>@p.Name</TableRowCell>
                                                                <TableRowCell>@p.Result</TableRowCell>
                                                                <TableRowCell>@p.Timestamp</TableRowCell>
                                                                <TableRowCell>@p.Rate</TableRowCell>
                                                                <TableRowCell>@p.IsolatNr</TableRowCell>
                                                            </TableRow>
                                                        </TableBody>
                                                    </Table>
                                                </Button>
                                            </Heading>
                                        </CollapseHeader>
                                        <CollapseBody>
                                            @if (p.Antibiograms != null)
                                            {
                                                @foreach (Antibiogram ab in p.Antibiograms)
                                                {
                                                    <Card Border="Border.Is0" Margin="Margin.Is0">
                                                        <CardBody>
                                                            <Span class="oi oi-beaker" TextColor="TextColor.Info" style="width:auto;"></Span>
                                                            <CardTitle Size="5" TextColor="TextColor.Black50" Width="Width.Is50">Antibiogramm</CardTitle>
                                                            <CardText>
                                                                Antibiogrammzeit:&nbsp;
                                                            </CardText>
                                                        </CardBody>
                                                        <Table Narrow="true">
                                                            <TableHeader Background="Background.Info" Border="Border.Is0.OnBottom" TextColor="TextColor.White">
                                                                <TableRow>
                                                                    <TableHeaderCell>Antibiotikum</TableHeaderCell>
                                                                    <TableHeaderCell>Resistenz</TableHeaderCell>
                                                                    <TableHeaderCell>MHK</TableHeaderCell>
                                                                </TableRow>
                                                            </TableHeader>
                                                            <TableBody>
                                                                <TableRow>
                                                                    <TableRowCell>@ab.Antibiotic</TableRowCell>
                                                                    <TableRowCell>@ab.Resistance</TableRowCell>
                                                                    <TableRowCell>@ab.MinInhibitorConcentration</TableRowCell>
                                                                </TableRow>
                                                            </TableBody>
                                                        </Table>
                                                    </Card>
                                                }
                                            }
                                        </CollapseBody>
                                    </Collapse>
                                }
                            </CollapseBody>
                        </Collapse>
                    }   
                </CollapseBody>
            </Collapse>
        }
    }

</div>

@code { [Parameter]
    public string PatientID { get; set; }

    private Patient selectedPatient = new Patient();
    private PatientData patient;
    private List<LabResult> patientResults;
    private bool Collapsed { get; set; } = false;

    protected override void OnParametersSet()
    {
        if (PatientID == "" || PatientID == null)
        {
            PatientID = "";
        }
    }

    protected override void OnInitialized()
    {
        if (PatientID != "" || PatientID != null)
        {
            //patient = _patientData.Process(PatientID);
            //patientViews = _service.LoadData(PatientID);
        }
    }

    private void Submit()
    {
        //patient = _patientData.Process(PatientID);
        //patientViews = _service.LoadData(PatientID);
        selectedPatient.PatientID = PatientID;
        patientResults = _labData.Process(selectedPatient);
    }
}
