@page "/patient/{PatientID}"

@using SmICSCoreLib.AQL.PatientInformation.PatientData;
@using SmICSCoreLib.AQL.MiBi;
@using SmICSWebApp.Data;

@inject IPatientDataFactory _patientData;
@inject PatientViewService _service;
 
@if (patient == null)
{
    <h3>Patient: @PatientID</h3>
}
else
{
    <h3>Patient: @patient.Name</h3>
}

@if(patientViews != null)
{
    @foreach(string Case in patientViews.Keys)
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            @Case
                        </button>
                    </h5>
                </div>
                <div class="card-body">
                    @foreach(KeyValuePair<DateTime, PatientViewModel> dictEntry in patientViews[Case])
                    {
                        <div class="card">
                            <div class="card-header">
                                @dictEntry.Key
                            </div>
                            <div class="card-body">
                                <span>@dictEntry.Value.KeimID : @dictEntry.Value.Befund</span>
                                @foreach (Antibiogram ab in dictEntry.Value.Antibiogram)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            @ab.Antibiotic
                                        </div>
                                        <div class="card-body">
                                            @ab.Resistance<br />
                                            @ab.MinInhibitorConcentration @ab.MICUnit
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
}
@code {
    [Parameter]
    public string PatientID { get; set; }

    private PatientData patient;
    private SortedDictionary<string, SortedDictionary<DateTime, PatientViewModel>> patientViews;

    protected override void OnInitialized()
    {
        //patient = _patientData.Process(PatientID);
        patientViews = _service.LoadData(PatientID);
    }

}
