@using SmICSCoreLib.DB.Models
@using SmICSWebApp.Data.Menu
@using SmICSCoreLib.Factories.PatientMovement
@using SmICSCoreLib.Factories.RKIConfig
@using SmICSWebApp.Data

@inject RKIConfigService RKIConfigService
@inject MenuService _menuService;

@if (_wardMenuEntries is not null && _pathogenMenuEntries is not null)
{
    <div id="div_card_5_full">
        <div id="div_card_5_only_rules">
            <div id="div_card_5">
                <div>
                    <label for="Station" class="tb-bez-header">Station</label>
                </div>
                <div>
                    <InputSelect @bind-Value="RKIConfigForm.Station" id="@ID">
                        <option selected="true" disabled="disabled" value="">Bitte wählen Sie aus</option>
                        <option value="Gesamtklink">Gesamtklinik</option>
                        @foreach (Ward item in _wardMenuEntries)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }

                    </InputSelect>
                </div>
            </div>
            <div id="div_card_5">
                <div>
                    <label for="Erreger" class="tb-bez-header">Erreger</label>
                </div>
                <div>
                    <select id="@ID" @onchange="GetFilter">
                        <option selected disabled>Bitte wählen Sie aus</option>
                        @foreach (PathogenEntry entry in _pathogenMenuEntries)
                        {
                            <option value="@entry.Codes">@entry.Name</option>
                        }
                        <option value="SARS-CoV-2">SARS-CoV-2</option>
                    </select>
                </div>
            </div>

            <div id="div_card_5">
                <div>
                    <label for="Resistenz" class="tb-bez-header">Resistenz</label>
                </div>
                <div>
                    @if (_resistances != null)
                    {
                        <InputSelect @bind-Value="RKIConfigForm.Resistance" id="@ID">

                            @if (!string.IsNullOrEmpty(RKIConfigForm.Erreger) || RKIConfigForm.Erreger != "sars-cov-2")
                                    {
                                @foreach (string res in _resistances)
                                        {
                                    <option value="@res">@res</option>
                                        }
                                    }
                                    else
                                    {
                                <option selected disabled>Leer</option>
                                    }
                        </InputSelect>
                    }
                </div>
            </div>

            <div id="div_card_5">
                <div>
                    <label for="Zeitraum" class="tb-bez-header">Zeitraum</label>
                </div>
                <div>
                    <InputSelect @bind-Value="RKIConfigForm.Zeitraum" id="@ID" @oninput=ZeitraumSelected>
                        <option selected="true" disabled="disabled" value=0>Bitte wählen Sie aus</option>
                        <option value=1>1 Woche</option>
                        <option value=2>2 Wochen</option>
                        <option value=3>3 Wochen</option>
                        <option value=4>4 Wochen</option>
                        <option value=5>5 Wochen</option>
                        <option value=6>6 Wochen</option>
                        <option value=7>7 Wochen</option>
                        <option value=8>8 Wochen</option>
                        <option value=9>9 Wochen</option>
                        <option value=10>10 Wochen</option>
                        <option value=11>11 Wochen</option>
                        <option value=12>12 Wochen</option>
                    </InputSelect>
                </div>
            </div>
            <div id="div_card_5">
                <div>
                    <label for="Retro" class="tb-bez-header" style="width: 100%;">Retrospektiv</label>
                </div>
                <div class="check">
                    <InputCheckbox @bind-Value="RKIConfigForm.Retro" id="@("op" + ID)" class="css-checkbox"
                                   @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                    <label class="css-label" for="@("op" + ID)"></label>
                </div>
            </div>
        </div>
        <div>
            <p style="@messageStyles">
                @message
            </p>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ID { get; set; }
    [Parameter]
    public RKIConfigTemplate RKIConfigForm { get; set; }
    private string message;
    private string messageStyles = "visibility:hidden";

    private List<Ward> _wardMenuEntries;
    private List<PathogenEntry> _pathogenMenuEntries;
    private List<string> _resistances;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadMenu);
    }

    private void LoadMenu()
    {
        _pathogenMenuEntries = _menuService.GetPathogens();
        _wardMenuEntries = _menuService.GetWards().Result;
    }

    void CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue == true)
        {
            checkedValue = false;
        }
        else
        {
            checkedValue = true;
        }
    }

    void ZeitraumSelected(ChangeEventArgs e)
    {
        if (Convert.ToInt32(e.Value) < 4)
        {
            messageStyles = "color:red";
            message = "Sie haben eine Einstellung gewählt, die unter Umständen einige NULL-Werte zur Folge haben kann.";
        }
        else
        {
            messageStyles = "visibility:hidden";
            message = "";
        }
    }

    private void GetFilter(ChangeEventArgs e)
    {
        RKIConfigForm.PathogenCodes = (List<string>)e.Value;
        if (RKIConfigForm.PathogenCodes is not null)
        {
            _resistances = RKIConfigService.GetFilter(RKIConfigForm.PathogenCodes);
        }
    }
}
