@page "/Statistik"

@using SmICSWebApp.Data
@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations
@using SmICSCoreLib.AQL.Patient_Stay.Count;

@inject DataService dataService

<div class=""></div>
<h3>Statistik (Prototyp)</h3>

@if (lkArray == null)
{   
    @if (status == true || status == false)
    {
        <p><em>Daten werden geladen...</em></p>
        <div class="spinner"></div> }
    else
    {
        <p><em>Es stehen momentan leider keine Daten zu Verfügung!</em></p>
        <p><em>Versuchen Sie bitte später diese Seite aufzurufen!</em></p>
    }
}
else
{
<div class="row">
    <div class="col-6">
        <div class="card flex-fill">
            <div class="card-header" style="padding-top: 10px;">
                <h5 class="card-title">Vergleich Region-Bundesland</h5>
                <EditForm Model="@data">
                    <div style="display: inline-flex; ">
                        <div>
                            <label>Bundesland: </label>
                            <InputSelect @bind-Value="data.bl" @onclick="@OnValueBl">
                                @foreach (var item in bundeslaender)
                                    {
                                    <option value="@item.blAttribute.bundesland"> @item.blAttribute.bundesland</option>}
                                }
                            </InputSelect>
                        </div>

                        <div>
                            <label>Region: </label>
                            <InputSelect @bind-Value="data.gen" @onclick="@OnValueGen">
                                @foreach (var item in @lkArray)
                                    {
                                    <option value="@item.stadt">
                                        @item.stadt
                                    </option>
                                    }
                            </InputSelect>
                        </div>
                    </div>
                </EditForm>
            </div>
            <div class="card-body">
                <p> Stand @stand</p>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-hover mb-0">
                        <thead style="background-color: #7FBDD2;">
                            <tr>
                                <th scope="col">Daten</th>
                                <th scope="col">@landkreis.stadt</th>
                                <th scope="col">@bundesland.blAttribute.bundesland</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Fallzahl</th>
                                <td>@landkreis.fallzahlGesamt</td>
                                <td>@bundesland.blAttribute.fallzahlGesamt</td>
                            </tr>
                            <tr>
                                <th scope="row">Fallzahl pro 100.000 Einwohner</th>
                                <td>@landkreis.faellePro100000Ew </td>
                                <td>@bundesland.blAttribute.faellePro100000Ew</td>
                            </tr>

                            <tr>
                                <th scope="row">Fälle in der letzten 7 Tage</th>
                                <td>@landkreis.faelle7Lk</td>
                                <td>@bundesland.blAttribute.faelle7BL</td>
                            </tr>
                            <tr>
                                <th scope="row">7-Tage-Inzidenz</th>
                                <td>@landkreis.inzidenz7Tage</td>
                                <td>@bundesland.blAttribute.inzidenz7Tage</td>
                            </tr>
                            <tr>
                                <th scope="row">7-Tage-R-Wert</th>
                                <td> @rValue</td>
                                <td> @rValue</td>
                            </tr>
                            <tr>
                                <th scope="row">Verstorben</th>
                                <td>@landkreis.todesfaelle</td>
                                <td>@bundesland.blAttribute.todesfaelle</td>
                            </tr>
                            <tr>
                                <th scope="row">Verstorben der letzten 7 Tage</th>
                                <td>@landkreis.todesfaelle7Lk</td>
                                <td>@bundesland.blAttribute.todesfaelle7BL</td>
                            </tr>
                            <tr>
                                <th scope="row">Genesen</th>
                                <td>.k.A</td>
                                <td>.k.A</td>
                            </tr>
                            @*<tr>
                                    <th scope="row">Nicht genesen</th>
                                    <td> .k.A </td>
                                    <td> .k.A</td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div>
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title">Fallzahlen im Krankenhaus</h5>
                </div>
                <div class="card-body">
                    <div class="table-wrapper-scroll-y" style="padding-bottom: 20px;">

                        <table class="table table-bordered table-hover mb-0">
                            <thead style="background-color: #7FBDD2;">
                                <tr>
                                    <th scope="col">Aktuelle Fallzahlen</th>
                                    <th scope="col">Fallzahl gesamt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Laborbestätigt</th>
                                    <td>@allPositivPat.Count()</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mitgebrachte Fälle</th>
                                    <td>@anzahlFaelle</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nosokomiale Fälle</th>
                                    <td> @allNoskumalPat.Count() </td>
                                </tr>
                                <tr>
                                    <th scope="row">Anzahl positiver Tests</th>
                                    <td>@allPositivTest.Count()</td>
                                </tr>
                                <tr>
                                    <th scope="row">Anzahl negativer Tests</th>
                                    <td>@allNegativPat.Count()</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <table class="table table-bordered table-hover mb-0">
                        <thead style="background-color: #7FBDD2;">
                            <tr>
                                <th scope="col">Aktuelle Fallzahlen </th>
                                <th scope="col">Anzahl gesamt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Anzahl aufgenommener Patienten</th>
                                <td>@allPositivPat.Count()</td>
                            </tr>
                            <tr>
                                <th scope="row">Anzahl Patiententage</th>
                                <td>@anzahlPatTage</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

}


@code {
    StatistikData data = new StatistikData();
    private DailyReport dailyReport = new();
    private Bundesland[] bundeslaender = new Bundesland[16];
    private Landkreis[] lkArray;
    private Bundesland bundesland = new();
    private Landkreis landkreis = new();
    private string stand;
    private string rValue = "";
    private bool status;

    private List<CountDataModel> allPositivTest;
    private List<CountDataModel> allNegativPat;
    private List<CountDataModel> allPositivPat = new List<CountDataModel>();
    private List<Patient> allNoskumalPat;
    private List<Patient> noskumalPatByContact;
    private int anzahlFaelle;
    private int anzahlPatTage;

    protected override async Task OnInitializedAsync()
    {
        status = true;
        data.bl = "Baden-Württemberg";
        data.gen = "Stuttgart";
        await Task.Run(LoadRValue);
        await Task.Run(LoadRkiData);
        await Task.Run(LoadEhrData);
    }

    private void LoadRkiData()
    {
        try
        {
            dailyReport = dataService.DeserializeRkiData(DateTime.Now);
            if (dailyReport != null)
            {
                stand = dailyReport.bericht.stand;
                bundeslaender = dailyReport.bericht.bundesland;
                foreach (var item in bundeslaender)
                {
                    if (item.blAttribute.bundesland == "Baden-Württemberg")
                    {
                        bundesland = item;
                        lkArray = item.landkreis;
                        landkreis = lkArray.First();
                    }
                }
            }
            else
            {
                dataService.SerializeRkiData();
                dailyReport = dataService.DeserializeRkiData(DateTime.Now);
                if (dailyReport != null)
                {
                    stand = dailyReport.bericht.stand;
                    bundeslaender = dailyReport.bericht.bundesland;
                    foreach (var item in bundeslaender)
                    {
                        if (item.blAttribute.bundesland == "Baden-Württemberg")
                        {
                            bundesland = item;
                            lkArray = item.landkreis;
                            landkreis = lkArray.First();
                        }
                    }
                }
            }
        }
        catch (Exception)
        {
            bundeslaender = null;
            bundesland = null;
            lkArray = null;
            landkreis = null;
            status = false;
        }
    }

    private void LoadEhrData()
    {
        allPositivTest = dataService.GetAllPositivTest();
        allPositivPat = dataService.GetPositivPat(allPositivTest);
        allNegativPat = dataService.GetNegativPat();
        allNoskumalPat = dataService.GetAllNoskumalPat(allPositivTest);
        noskumalPatByContact = dataService.GetNoskumalByContact(allNoskumalPat, allPositivPat);
        anzahlFaelle = allPositivPat.Count() - allNoskumalPat.Count();
        anzahlPatTage = dataService.PatStay(allPositivPat);
    }

    private void LoadRValue()
    {
        rValue = dataService.GetRValue(2);
        if (rValue == null)
        {
            rValue = ".k.A";
        }
    }

    private void OnValueBl()
    {
        foreach (var item in bundeslaender)
        {
            if (item.blAttribute.bundesland == data.bl)
            {
                bundesland = item;
                lkArray = item.landkreis;
                landkreis = lkArray.First();
            }
        }
    }

    private void OnValueGen()
    {
        foreach (var item in lkArray)
        {
            if (item.stadt == data.gen)
            {
                landkreis = item;
            }
        }
    }

    private class StatistikData
    {
        [Required]
        public string bl { get; set; }

        [Required]
        public string gen { get; set; }
    }

}