@page "/formcontacttracing"

@using SmICSWebApp.Data
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq
@using SmICSCoreLib.Factories.Employees.ContactTracing

@inject ILogger<FormContactTracing> Logger
@inject ContactTracingService ContactTracingService


<div class="zurueck-bottom">
    <NavLink class="nav-link" href="contactIndex" Match="NavLinkMatch.All">
        <span class="oi oi-chevron-left" aria-hidden="true">&nbsp;</span> zur&uuml;ck
    </NavLink>
</div>

<div class="con">
    <div class="deph_1">
        <h3>Bericht zur Kontaktverfolgung</h3>

        <EditForm Model="@contact_tracing" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="deph_2">
                <span class="span">Mitarbeiterdaten</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Mitarbeiter ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="ehr_id" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Context</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Bericht ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="contact_tracing.BerichtID" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Eventsummary</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Event-Kennung :</label></div>
                            <div class="tb">
                                <InputText @bind-Value="contact_tracing.EventKennung" disabled="@disabled" class="input" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Event-Art :</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="contact_tracing.EventArt" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Kontakt">Kontakt</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="deph_4">
                        <span class="span">Beteiligte Personen (Person 1)</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Art der Person :</label></div>
                                <div class="tb">
                                    <InputSelect @bind-Value="contact_tracing.ArtDerPerson1" disabled="@disabled" class="input">
                                        <option selected disabled>Bitte wählen Sie aus</option>
                                        <option value="Kontaktperson">Kontaktperson</option>
                                        <option value="Indexperson">Indexperson</option>
                                    </InputSelect>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>ID der Person :</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="contact_tracing.PersonenID1" disabled="@disabled" class="input" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deph_4">
                        <span class="span">Beteiligte Personen (Person 2)</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Art der Person :</label></div>
                                <div class="tb">
                                    <InputSelect @bind-Value="contact_tracing.ArtDerPerson2" disabled="@disabled" class="input">
                                        <option selected disabled>Bitte wählen Sie aus</option>
                                        <option value="Kontaktperson">Kontaktperson</option>
                                        <option value="Indexperson">Indexperson</option>
                                    </InputSelect>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>ID der Person :</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="contact_tracing.PersonenID2" disabled="@disabled" class="input" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Event-Kategorie :</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="contact_tracing.EventKategorie" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Ia">Ia</option>
                                    <option value="Ib">Ib</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Kommentar :</label></div>
                            <div class="tb">
                                <InputText @bind-Value="contact_tracing.EventKommentar" disabled="@disabled" class="input" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Kontakt</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Beschreibung :</label></div>
                        <div class="tb">
                            <InputText @bind-Value="contact_tracing.Beschreibung" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Beginn :</label></div>
                        <div class="tb">
                            <InputText type="datetime-local" @bind-Value="contact_tracing.Beginn" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Ende :</label></div>
                        <div class="tb">
                            <InputText type="datetime-local" @bind-Value="contact_tracing.Ende" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Ort :</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="contact_tracing.Ort" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Innenraum">Innenraum</option>
                                <option value="Außenbereich">Außenbereich</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Gesamtdauer :</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="contact_tracing.Gesamtdauer" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="&lt;15min">&lt;15min</option>
                                <option value="&gt;15min">&gt;15min</option>
                                <option value="&gt;30min">&gt;30min</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Abstand :</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="contact_tracing.Abstand" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="&lt;2m">&lt;2m</option>
                                <option value="&gt;2m">&gt;2m</option>
                                <option value="1,5m - 2m">1,5m - 2m</option>
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Schutzkleidung der 1. Person</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Schutzkleidung :</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="contact_tracing.Schutzkleidung1" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Kittel">Kittel</option>
                                    <option value="Augenschutz">Augenschutz</option>
                                    <option value="Chirurgische Maske">Chirurgische Maske</option>
                                    <option value="FFP2">FFP2</option>
                                    <option value="FFP3">FFP3</option>
                                    <option value="Community- Maske">Community- Maske</option>
                                    <option value="Keine Schutzkleidung">Keine Schutzkleidung</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Person :</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="contact_tracing.Person1" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Idexperson">Indexperson</option>
                                    <option value="Kontaktperson">Kontaktperson</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Schutzkleidung der 2. Person</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Schutzkleidung :</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="contact_tracing.Schutzkleidung2" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Kittel">Kittel</option>
                                    <option value="Augenschutz">Augenschutz</option>
                                    <option value="Chirurgische Maske">Chirurgische Maske</option>
                                    <option value="FFP2">FFP2</option>
                                    <option value="FFP3">FFP3</option>
                                    <option value="Community- Maske">Community- Maske</option>
                                    <option value="Keine Schutzkleidung">Keine Schutzkleidung</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Person :</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="contact_tracing.Person2" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Idexperson">Indexperson</option>
                                    <option value="Kontaktperson">Kontaktperson</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Kommentar :</label></div>
                        <div class="tb">
                            <InputText @bind-Value="contact_tracing.Kommentar" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <input id="button" type="submit" />
            <input name="send" type="hidden"
                   value="<Antiforgery token here>" />
            <p style="@messageStyles">
                @message
            </p>
        </EditForm>
    </div>
</div>

@code {
    private bool disabled;
    private string message;
    private string messageStyles = "visibility:hidden";
    private ContactTracingPostModel contact_tracing = new ContactTracingPostModel();
    private string ehr_id;

    private void HandleValidSubmit()
    {

        try
        {

            JObject o = (JObject)JToken.FromObject(contact_tracing);
            disabled = true;
            messageStyles = "color:green";
            ContactTracingService.ContactTracingDataStorage(o, ehr_id);
            message = "Das Formular wurde übermittelt.";

        }
        catch (Exception ex)
        {
            Logger.LogError("Formular Übermittlungsproblem: {Message}", ex.Message);
            disabled = true;
            messageStyles = "color:red";
            message = "Es wurde ein fehler festgestellt beim Übermitteln des Formulars.";
        }
    }

}