@page "/formpersoninformation"

@using SmICSWebApp.Data
@using System.ComponentModel.DataAnnotations
@using System.Net
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq
@using SmICSCoreLib.AQL
@using SmICSCoreLib.AQL.Employees
@using SmICSCoreLib.AQL.Employees.PersonData

@inject ILogger<FormPersonInformation> Logger

<div class="con">
    <div class="deph_1">
        <h3>Personendaten</h3>

        <EditForm Model="@information" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="deph_2">
                <span class="span">Event Context</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Personen ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="information.personID" disabled="@disabled" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Personendaten</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Art der Person:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="information.art_der_person" disabled="@disabled">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Mitarbeiter">Mitarbeiter</option>
                                <option value="Patient">Patient</option>
                                <option value="sonstiges">sonstiges</option>
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Personenname</span>
                    <div class="deph_4">
                        <span class="span">Name strukturiert</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Titel:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.titel" disabled="@disabled" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Vorname:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.vorname" disabled="@disabled" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Weiterer Vorname:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.weiterer_vorname" disabled="@disabled" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Nachname:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.nachname" disabled="@disabled" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Suffix:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.suffix" disabled="@disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Daten zur Geburt</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Geburtsdatum:</label></div>
                            <div class="tb">
                                <InputDate @bind-Value="information.geburtsdatum" disabled="@disabled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Adresse</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Zeile:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="information.zeile" disabled="@disabled" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Stadt:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="information.stadt" disabled="@disabled" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Postleitzahl:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="information.plz" disabled="@disabled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Einzelheiten der Kommunikation</span>
                    <div class="deph_4">
                        <span class="span">Kontaktdaten</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Kontakttyp:</label></div>
                                <div class="tb">
                                    <InputSelect @bind-Value="information.kontakttyp" disabled="@disabled">
                                        <option selected disabled>Bitte wählen Sie aus</option>
                                        <option value="Telefonnummer">Telefonnummer</option>
                                    </InputSelect>
                                </div>
                            </div>
                        </div>
                        <div class="deph_5">
                            <span class="span">Strukturierte Kontaktadresse</span>
                            <div class="table">
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Nummer:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.nummer" disabled="@disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Pers&ouml;nliche Daten Heilberufler</span>
                    <div class="deph_4">
                        <span class="span">Per&ouml;nliche Daten</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Fachbezeichnung:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.fach_bez" disabled="@disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="deph_5">
                            <span class="span">Adresse</span>
                            <div class="table">
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Zeile:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.zeile_heil" disabled="@disabled" />
                                    </div>
                                </div>
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Stadt:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.stadt_heil" disabled="@disabled" />
                                    </div>
                                </div>
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Postleitzahl:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.plz_heil" disabled="@disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="button" type="submit" />
            <input name="send" type="hidden"
                   value="<Antiforgery token here>" />
            <p style="@messageStyles">
                @message
            </p>
        </EditForm>
    </div>
</div>

@code{
    private bool disabled;
    private string message;
    private string messageStyles = "visibility:hidden";
    private PersonDataModel information = new PersonDataModel();

    private void HandleValidSubmit()
    {

        try
        {
            JObject o = (JObject)JToken.FromObject(information);
            PersonInformationService.PersonInformationDataStorage(o);
            disabled = true;
            messageStyles = "color:green";
            //message = "Das Formular wurde übermittelt.";
            message = o.ToString();

        }
        catch (Exception ex)
        {
            Logger.LogError("Formular Übermittlungsproblem: {Message}", ex.Message);
            disabled = true;
            messageStyles = "color:red";
            message = "Es wurde ein fehler festgestellt beim Übermitteln des Formulars.";
        }
    }
}