@page "/forminfectioncontrol"

@using SmICSWebApp.Data
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq
@using SmICSCoreLib.Factories.Employees.PersInfoInfecCtrl

@inject ILogger<FormPersInfoInfectCtrl> Logger
@inject PersInfoInfectCtrlService PersInfoInfectCtrlService

<div class="zurueck-bottom">
    <NavLink class="nav-link" href="contactIndex" Match="NavLinkMatch.All">
        <span class="oi oi-chevron-left" aria-hidden="true">&nbsp;</span> zur&uuml;ck
    </NavLink>
</div>
<div class="con">
    <div class="deph_1">
        <h3>Personeninformationen zur Infektionskontrolle</h3>

        <EditForm Model="@informationControl" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="deph_2">
                <span class="span">Mitarbeiterdaten</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Mitarbeiter ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="ehr_id" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Context</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Bericht ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.BerichtID" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Screening-Fragebogen zur Symptomen/Anzeichen</span>
                <div class="deph_3">
                    <span class="span">Beliebiges Ereignis</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Sind Symptome oder Anzeichen vorhanden?</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="informationControl.SymptomVorhanden" disabled="@disabled" class="input">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="Vorhanden">Vorhanden</option>
                                    <option value="Nicht vorhanden">Nicht vorhanden</option>
                                    <option value="Unbekannt">Unbekannt</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Auftreten von Symptomen oder Anzeichen:</label></div>
                            <div class="tb">
                                <InputText type="datetime-local" @bind-Value="informationControl.AufgetretenSeit" @bind-Value:format="dd/MM/yyyy HH:ii:ss" disabled="@disabled" class="input" />
                            </div>
                        </div>
                    </div>
                    <div class="deph_4">
                        <span class="span">Spezifisches Symptom/Anzeichen</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Bezeichnung des Symptoms oder Anzeichens:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="informationControl.Symptom" disabled="@disabled" class="input" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Allgemeiner Kommentar:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="informationControl.SymptomKommentar" disabled="@disabled" class="input" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Kennzeichnung Erregernachweis</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Erregernachweis:</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.Nachweis" id="op1" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op1"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Erregername:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="informationControl.Erregername" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="SARS-COV-2">SARS-COV-2</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Zeitpunkt der Kennzeichnung:</label></div>
                        <div class="tb">
                            <InputText type="datetime-local" @bind-Value="informationControl.Zeitpunkt" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Erregernachweis in der Klinik:</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.KlinischerNachweis" id="op2" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op2"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Zuletzt aktualisiert:</label></div>
                        <div class="tb">
                            <InputText type="datetime-local" @bind-Value="informationControl.LetzteAktualisierung" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Freistellung von der Arbeit</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Freigestellt von der Arbeit?</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.Freistellung" id="op3" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op3"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Grund für die Freistellung:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="informationControl.Grund" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Nachweis einer SARS-CoV-2 Infektion">Nachweis einer SARS-CoV-2 Infektion</option>
                                <option value="Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person">Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person</option>
                                <option value="Andere Gründe">Andere Gründe</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Beschreibung:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.Beschreibung" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Startdatum der Freistellung:</label></div>
                        <div class="tb">
                            <InputText type="date" @bind-Value="informationControl.Startdatum" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Wiederaufnahme der Arbeit:</label></div>
                        <div class="tb">
                            <InputText type="date" @bind-Value="informationControl.Enddatum" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Kommentar:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.AbwesendheitKommentar" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Meldung an das Gesundheitsamt</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Meldung an das Gesundheitsamt?</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.Meldung" id="op4" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op4"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Zu meldendes Ereignis:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="informationControl.Ereignis" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Nachweis einer SARS-CoV-2 Infektion">Nachweis einer SARS-CoV-2 Infektion</option>
                                <option value="Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person">Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person</option>
                                <option value="Andere Gründe">Andere Gründe</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Beschreibung:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.Ereignisbeschreibung" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Datum der Meldung:</label></div>
                        <div class="tb">
                            <InputText type="datetime-local" @bind-Value="informationControl.Datum" disabled="@disabled" class="input"></InputText>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Grund:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.Ereignisgrund" disabled="@disabled" class="input" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Kommentar:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.EreignisKommentar" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <input id="button" type="submit" />
            <input name="send" type="hidden"
                   value="<Antiforgery token here>" />
            <p style="@messageStyles">
                @message
            </p>
        </EditForm>
    </div>
</div>

@code{ private bool disabled;
    private string message;
    private string messageStyles = "visibility:hidden";
    private PersInfoInfecCtrlModel informationControl = new PersInfoInfecCtrlModel();
    private string ehr_id;

    private void HandleValidSubmit()
    {

        try
        {
            JObject o = (JObject)JToken.FromObject(informationControl);
            PersInfoInfectCtrlService.PersInfoInfectCtrlServiceDataStorage(o, ehr_id);
            disabled = true;
            messageStyles = "color:green";
            message = "Das Formular wurde übermittelt.";
        }
        catch (Exception ex)
        {
            Logger.LogError("Formular Übermittlungsproblem: {Message}", ex.Message);
            disabled = true;
            messageStyles = "color:red";
            message = "Es wurde ein fehler festgestellt beim Übermitteln des Formulars.";
        }
    }

    void CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue == true)
        {
            checkedValue = false;
        }
        else
        {
            checkedValue = true;
        }
    }
}
