@page "/formpersoninformation"

@using SmICSWebApp.Data
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq
@using SmICSCoreLib.Factories.Employees.PersonData

@inject ILogger<FormPersonInformation> Logger
@inject PersonInformationService PersonInformationService

<div class="zurueck-bottom">
    <NavLink class="nav-link" href="contactIndex" Match="NavLinkMatch.All">
        <span class="oi oi-chevron-left" aria-hidden="true">&nbsp;</span> zur&uuml;ck
    </NavLink>
</div>
<div class="con">
    <div class="deph_1">
        <h3>Personendaten</h3>

        <EditForm Model="@information" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="deph_2">
                <span class="span">Event Context</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Personen ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="information.PersonID" disabled="@disabled" class="input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Personendaten</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Art der Person:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="information.ArtDerPerson" disabled="@disabled" class="input">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Mitarbeiter">Mitarbeiter</option>
                                <option value="Patient">Patient</option>
                                <option value="sonstiges">sonstiges</option>
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Personenname</span>
                    <div class="deph_4">
                        <span class="span">Name strukturiert</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Titel:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.Titel" disabled="@disabled" class="input" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Vorname:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.Vorname" disabled="@disabled" class="input" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Weiterer Vorname:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.WeitererVorname" disabled="@disabled" class="input" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Nachname:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.Nachname" disabled="@disabled" class="input" />
                                </div>
                            </div>
                            <div class="tr">
                                <div class="tb tb_bez"><label>Suffix:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.Suffix" disabled="@disabled" class="input" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Daten zur Geburt</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Geburtsdatum:</label></div>
                            <div class="tb">
                                <InputText type="date" @bind-Value="information.Geburtsdatum" disabled="@disabled" class="input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Adresse</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Zeile:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="information.Zeile" disabled="@disabled" class="input" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Stadt:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="information.Stadt" disabled="@disabled" class="input" />
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Postleitzahl:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="information.Plz" disabled="@disabled" class="input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Einzelheiten der Kommunikation</span>
                    <div class="deph_4">
                        <span class="span">Kontaktdaten</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Kontakttyp:</label></div>
                                <div class="tb">
                                    <InputSelect @bind-Value="information.Kontakttyp" disabled="@disabled" class="input">
                                        <option selected disabled>Bitte wählen Sie aus</option>
                                        <option value="Telefon">Telefon</option>
                                    </InputSelect>
                                </div>
                            </div>
                        </div>
                        <div class="deph_5">
                            <span class="span">Strukturierte Kontaktadresse</span>
                            <div class="table">
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Nummer:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.Nummer" disabled="@disabled" class="input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deph_3">
                    <span class="span">Pers&ouml;nliche Daten Heilberufler</span>
                    <div class="deph_4">
                        <span class="span">Per&ouml;nliche Daten</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Fachbezeichnung:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="information.Fachbezeichnung" disabled="@disabled" class="input" />
                                </div>
                            </div>
                        </div>
                        <div class="deph_5">
                            <span class="span">Adresse</span>
                            <div class="table">
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Zeile:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.HeilZeile" disabled="@disabled" class="input" />
                                    </div>
                                </div>
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Stadt:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.HeilStadt" disabled="@disabled" class="input" />
                                    </div>
                                </div>
                                <div class="tr">
                                    <div class="tb tb_bez"><label>Postleitzahl:</label></div>
                                    <div class="tb">
                                        <InputText @bind-Value="information.HeilPLZ" disabled="@disabled" class="input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="button" type="submit" />
            <input name="send" type="hidden"
                   value="<Antiforgery token here>" />
            <p style="@messageStyles">
                @message
            </p>
        </EditForm>
    </div>
</div>

@code{
    private bool disabled;
    private string message;
    private string messageStyles = "visibility:hidden";
    private PersonDataModel information = new PersonDataModel();

    private void HandleValidSubmit()
    {

        try
        {
            JObject o = (JObject)JToken.FromObject(information);
            PersonInformationService.PersonInformationDataStorage(o);
            disabled = true;
            messageStyles = "color:green";
            message = "Das Formular wurde übermittelt.";

        }
        catch (Exception ex)
        {
            Logger.LogError("Formular Übermittlungsproblem: {Message}", ex.Message);
            disabled = true;
            messageStyles = "color:red";
            message = "Es wurde ein fehler festgestellt beim Übermitteln des Formulars.";
        }
    }
}