@page "/forminfectioncontrol"

@using SmICSWebApp.Data
@using System.ComponentModel.DataAnnotations
@using System.Net
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq

@inject ILogger<FormPersInfoInfectCtrl> Logger

<div class="con">
    <div class="deph_1">
        <h3>Personeninformationen zur Infektionskontrolle</h3>

        <EditForm Model="@informationControl" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="deph_2">
                <span class="span">Context</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Bericht ID:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.berichtID" disabled="@disabled" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Screening-Fragebogen zur Symptomen/Anzeichen</span>
                <div class="deph_3">
                    <span class="span">Beliebiges Ereignis</span>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Sind Symptome oder Anzeichen vorhanden?</label></div>
                            <div class="tb">
                                <InputSelect @bind-Value="informationControl.symp_vorhanden" disabled="@disabled">
                                    <option selected disabled>Bitte wählen Sie aus</option>
                                    <option value="vorhanden">vorhanden</option>
                                    <option value="nicht vorhanden">nicht vorhanden</option>
                                    <option value="unbekannt">unbekannt</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="tb tb_bez"><label>Auftreten von Symptomen oder Anzeichen:</label></div>
                            <div class="tb">
                                <InputDate @bind-Value="informationControl.symp_auftreten" @bind-Value:format="dd/MM/yyyy HH:ii:ss" disabled="@disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="deph_4">
                        <span class="span">Spezifisches Symptom/Anzeichen</span>
                        <div class="table">
                            <div class="tr">
                                <div class="tb tb_bez"><label>Bezeichnung des Symptoms oder Anzeichens:</label></div>
                                <div class="tb">
                                    <InputText @bind-Value="informationControl.bez_symp" disabled="@disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div class="tr">
                            <div class="tb tb_bez"><label>Allgemeiner Kommentar:</label></div>
                            <div class="tb">
                                <InputText @bind-Value="informationControl.allg_kommentar" disabled="@disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Kennzeichnung Erregernachweis</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Erregernachweis:</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.erreg_nachweis" id="op1" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op1"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Erregername:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="informationControl.erreg_name" disabled="@disabled">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="SARS-COV-2">SARS-COV-2</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Zeitpunkt der Kennzeichnung:</label></div>
                        <div class="tb">
                            <InputDate @bind-Value="informationControl.zeitpunkt_kennzeichnung" disabled="@disabled" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Erregernachweis in der Klinik:</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.erreg_Nachweis_klinik" id="op2" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op2"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Zuletzt aktualisiert:</label></div>
                        <div class="tb">
                            <InputDate @bind-Value="informationControl.zuletzt_aktuell" disabled="@disabled" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Freistellung von der Arbeit</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Freigestellt von der Arbeit?</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.freigetsellt" id="op3" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op3"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Grund für die Freistellung:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="informationControl.grund" disabled="@disabled">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Nachweis einer SARS-CoV-2 Infektion">Nachweis einer SARS-CoV-2 Infektion</option>
                                <option value="Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person">Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person</option>
                                <option value="Andere Gründe">Andere Gründe</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Beschreibung:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.beschreibung" disabled="@disabled" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Startdatum der Freistellung:</label></div>
                        <div class="tb">
                            <InputDate @bind-Value="informationControl.start_freistellung" disabled="@disabled" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Wiederaufnahme der Arbeit:</label></div>
                        <div class="tb">
                            <InputDate @bind-Value="informationControl.wiederaufnahme" disabled="@disabled" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Kommentar:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.kommentar_freistellung" disabled="@disabled" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="deph_2">
                <span class="span">Meldung an das Gesundheitsamt</span>
                <div class="table">
                    <div class="tr">
                        <div class="tb tb_bez"><label>Meldung an das Gesundheitsamt?</label></div>
                        <div class="tb">
                            <InputCheckbox @bind-Value="informationControl.meldung" id="op4" class="css-checkbox" disabled="@disabled"
                                           @onchange="eventArgs => { CheckboxClicked(eventArgs.Value); }" />
                            <label class="css-label" for="op4"></label>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Zu meldendes Ereignis:</label></div>
                        <div class="tb">
                            <InputSelect @bind-Value="informationControl.ereignis" disabled="@disabled">
                                <option selected disabled>Bitte wählen Sie aus</option>
                                <option value="Nachweis einer SARS-CoV-2 Infektion">Nachweis einer SARS-CoV-2 Infektion</option>
                                <option value="Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person">Ungeschützer Kontakt zu einer SARS-CoV-2 infizierten Person</option>
                                <option value="Andere Gründe">Andere Gründe</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Beschreibung:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.beschreibung_ereignis" disabled="@disabled" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Datum der Meldung:</label></div>
                        <div class="tb">
                            <InputDate @bind-Value="informationControl.datum_meldung" disabled="@disabled"></InputDate>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Grund:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.grund_meldung" disabled="@disabled" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="tb tb_bez"><label>Kommentar:</label></div>
                        <div class="tb">
                            <InputText @bind-Value="informationControl.meldung_kommentar" disabled="@disabled" />
                        </div>
                    </div>
                </div>
            </div>
            <input id="button" type="submit" />
            <input name="send" type="hidden"
                   value="<Antiforgery token here>" />
            <p style="@messageStyles">
                @message
            </p>
        </EditForm>
    </div>
</div>

@code{ private bool disabled;
    private string message;
    private string messageStyles = "visibility:hidden";
    private PersonInformationInfectionControl informationControl = new PersonInformationInfectionControl();

    private void HandleValidSubmit()
    {

        try
        {
            JObject o = (JObject)JToken.FromObject(informationControl);
            disabled = true;
            messageStyles = "color:green";
            //message = "Das Formular wurde übermittelt.";
            message = o.ToString();
        }
        catch (Exception ex)
        {
            Logger.LogError("Formular Übermittlungsproblem: {Message}", ex.Message);
            disabled = true;
            messageStyles = "color:red";
            message = "Es wurde ein fehler festgestellt beim Übermitteln des Formulars.";
        }
    }
    public class PersonInformationInfectionControl
    {
        [Required]
        public string berichtID { get; set; }
        [Required]
        public string symp_vorhanden { get; set; }
        [Required]
        public Nullable<DateTime> symp_auftreten { get; set; } = null;
        [Required]
        public string bez_symp { get; set; }

        public string allg_kommentar { get; set; }

        public bool erreg_nachweis { get; set; } = false;
        [Required]
        public string erreg_name { get; set; }
        [Required]
        public Nullable<DateTime> zeitpunkt_kennzeichnung { get; set; } = null;

        public bool erreg_Nachweis_klinik { get; set; } = false;
        [Required]
        public Nullable<DateTime> zuletzt_aktuell { get; set; } = null;

        public bool freigetsellt { get; set; } = false;
        [Required]
        public string grund { get; set; }
        [Required]
        public string beschreibung { get; set; }
        [Required]
        public Nullable<DateTime> start_freistellung { get; set; } = null;
        [Required]
        public Nullable<DateTime> wiederaufnahme { get; set; } = null;

        public string kommentar_freistellung { get; set; }

        public bool meldung { get; set; } = false;
        [Required]
        public string ereignis { get; set; }
        [Required]
        public string beschreibung_ereignis { get; set; }
        [Required]
        public Nullable<DateTime> datum_meldung { get; set; } = null;
        [Required]
        public string grund_meldung { get; set; }

        public string meldung_kommentar { get; set; }
    }

    void CheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue == true)
        {
            checkedValue = false;
        }
        else
        {
            checkedValue = true;
        }
    }
}
