@using SmICSCoreLib.Factories.PatientMovementNew.PatientStays
@using SmICSWebApp.Data.WardView
@using Blazorise

<tr>
    <td class="text-center">

        <ContextMenu Id="@Patient.PatientID">
            <Item OnClick="@OnContextClick"><a href="/patient/@(Patient.PatientID)">Patientenansicht</a></Item>
            @if (Patient.InfectionStatus is not null)
            {
                @foreach (string res in Patient.InfectionStatus.Keys)
                {
                    <Item OnClick="@OnContextClick"><a href="/contact/@(Patient.PatientID)/@(Patient.Pathogen)/@(res)"> Kontakte @(res) </a> </Item>
                }
            }
        </ContextMenu>

        <ContextMenuTrigger MenuId="@Patient.PatientID">
            @if (_nosocomial)
            {
                <span class="text-danger"> @Patient.PatientID</span>
            }
            else if (_known)
            {
                <span class="text-primary"> @Patient.PatientID</span>
            }
            else
            {
                @Patient.PatientID
            }
        </ContextMenuTrigger>
    </td>
    <td>
        <Tooltip Text="@GetTooltipText()">
            @if (Patient.InfectionStatus is not null && Patient.InfectionStatus.Values.Any(x => x.Nosocomial))
            {
                <span class="text-danger"> @Patient.CaseID</span>
            }
            else if (Patient.InfectionStatus is not null && Patient.InfectionStatus.Values.Any(x => x.Known))
            {
                <span class="text-primary"> @Patient.CaseID</span>
            }
            else
            {
                @Patient.CaseID
            }
        </Tooltip>
    </td>
    <td>
        @if (_nosocomial)
        {
            <span class="text-danger">
                @string.Join("/", Patient.InfectionStatus.Values.Where(x => x.Nosocomial).Select(x => x.Resistance))
            </span>
        }
        @if (_known)
        {
            <span class="text-primary">
                @string.Join("/", Patient.InfectionStatus.Values.
               Where(x => x.Known || (Patient.InfectionStatus.Values.Any(x => x.Nosocomial && x.NosocomialDate.Value.Date < Patient.Admission.Date.AddDays(2.0)))).
               Where(x => x.Resistance != "normal").Select(x => x.Resistance))
            </span>
        }
    </td>
    @if (Patient.PatientData != null)
    {
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    }
    <WardTableDateCell Date="@Patient.FirstPositiveResult" />
    <WardTableDateCell Date="@Patient.CurrentResult" />
    <WardTableDateCell Date="@Patient.FirstWardPositiveResult" />
    <WardTableDateCell Date="@Patient.LastWardResult" />
    <WardTableDateCell Date="@Patient.Admission" />
    <WardTableDateCell Date="@Patient.Discharge" />
</tr>

@code {

    [Parameter]
    public WardPatient Patient { get; set; }

    [Parameter]
    public WardParameter WardParameter { get; set; }

    private bool _nosocomial;
    private bool _known;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        parameters.TryGetValue<WardPatient>("WardOverview", out WardPatient overview);
        parameters.TryGetValue<WardParameter>("WardParameter", out WardParameter parameter);

        await base.SetParametersAsync(parameters);

        _nosocomial = IsNosocomial();
        _known = Patient.InfectionStatus != null && (Patient.InfectionStatus.Values.Any(x => x.Known) || Patient.InfectionStatus.Values.Any(x => x.Nosocomial && x.NosocomialDate <= Patient.Admission.Date.AddDays(2.0)));
    }


    private void OnContextClick(ItemClickEventArgs e)
    {
        Console.WriteLine($"WardOverview Clicked => Menu: {e.ContextMenuId}, MenuTarget: {e.ContextMenuTargetId}, IsCanceled: {e.IsCanceled}, MenuWardOverview: {e.MenuItemElement}, MouseEvent: {e.MouseEvent}");
    }

    private bool IsNosocomial()
    {
        if (Patient.InfectionStatus != null)
        {
            if (Patient.InfectionStatus.Values.Any(x => x.Nosocomial 
            && x.NosocomialDate.Value.Date > Patient.Admission.Date.AddDays(2.0) 
            && (Patient.Discharge.HasValue ? x.NosocomialDate <= Patient.Discharge : true)))
            {
                return true;
            }
        }
        return false;
    }

    private string GetTooltipText()
    {
        string text = "Krankenhausaufenthalt: ";

        if (Patient.CaseAdmission.HasValue)
        {
            text += Patient.CaseAdmission.Value.Date.ToString("dd.MM.yyyy");
        }
        if (Patient.CaseDischarge.HasValue)
        {
            text += " - " + Patient.Discharge.Value.Date.ToString("dd.MM.yyyy");
        }

        return text;
    }

}
