@page "/symptome"

@using SmICSCoreLib.Factories.Symptome
@using System.ComponentModel.DataAnnotations
@using SmICSCoreLib.Factories.PatientMovement
@using SmICSCoreLib.Factories.PatientStay.Stationary
@using SmICSCoreLib.StatistikDataModels;
@using Microsoft.Extensions.Logging
@inject ILogger<Symptom> Logger
@inject SmICSCoreLib.StatistikServices.SymptomService symptomService
@inject SmICSCoreLib.StatistikServices.EhrDataService ehrDataService


<div class="card">
    <div class="row">
        <StatistikNav>
        </StatistikNav>

        <div class="card-body col-10">
            <div style="padding: 30px 0px 100px 0px;">
                @if (allSymGroup == null)
                {
                    @if (status == false)
                    {
                        <p><em>Es stehen momentan leider keine Daten zu Verfügung!</em></p>
                        <p><em>Versuchen Sie bitte später diese Seite aufzurufen!</em></p>
                    }
                    else
                    {
                        <p><em>Daten werden geladen...</em></p>
                        <div class="spinner"></div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-10 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <h5 class="card-title">Symptome</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover mb-0">
                                        <thead style="background-color: #7FBDD2;">
                                            <tr>
                                                <th scope="col">Symptome</th>
                                                <th scope="col">
                                                    <EditForm Model="@symptomData">
                                                        <label>Datum ab: </label>
                                                        <InputDate @bind-Value="@symptomData.datum"></InputDate>
                                                        <button @onclick="GetAllSym">Aktualisieren</button>
                                                    </EditForm>
                                                </th>
                                                <th scope="col">Station</th>
                                                <th scope="col">Häufigkeit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (KeyValuePair<string, Dictionary<string, int>> symp in allSymGroup)
                                            {
                                                @foreach (var item in symp.Value)
                                                {
                                                    <tr>
                                                        <th scope="row">@symp.Key </th>
                                                        <td>@symptomData.datum.Date.ToString("dd-MM-yyyy")</td>


                                                        <td>
                                                            <a href="" @onclick="() => GetPatListBySta(symp.Key, item.Key)" @onclick:preventDefault>
                                                                @item.Key
                                                            </a>
                                                        </td>
                                                        <td>@item.Value</td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                    @if (@allSymGroup.Count == 0)
                                    {
                                        <p>In der ausgewählten Zeitraum gibt’s keine Symptommeldungen!</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-10 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <h5 class="card-title">Patienten</h5>
                                </div>
                                <div class="card-body">
                                    @if (@patListBySym != null)
                                    {
                                        <table id="tabel-input" class="table table-bordered table-hover mb-0">
                                            <thead style="background-color: #7FBDD2;">
                                                <tr>
                                                    <th scope="col">PatientID</th>
                                                    <th scope="col">Symptome</th>
                                                    <th scope="col">Symptome aufgetreten am</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var patient in @patListBySym)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <a href="" @onclick="() => GetPatMovement(patient.PatientenID)" @onclick:preventDefault>
                                                                @patient.PatientenID
                                                            </a>
                                                        </th>
                                                        <td>@patient.NameDesSymptoms</td>
                                                        <td>@patient.Beginn</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <p>Kein Symptom aus der Symptome Tabelle links ausgewählt!</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-10 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <h5 class="card-title">Patientenansicht</h5>
                                </div>

                                <div class="card-body">

                                    @if (firstMovementList != null && firstMovementList.Count() != 0)
                                    {
                                        <div class="row">
                                            <div class="col-6 d-flex">
                                                <div>
                                                    <table class="table table-bordered table-hover mb-0">
                                                        <thead style="background-color: #7FBDD2;">
                                                            <tr>
                                                                <th scope="col">Daten</th>
                                                                <th scope="col">Patient</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">PatientID</th>
                                                                <td>@patientMovement.PatientID</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">FallID</th>
                                                                <td>
                                                                    <a href="" @onclick="() => GetPatStationary(patientMovement.PatientID, patientMovement.FallID,
                                                                                         secMovement.PatientID,secMovement.FallID)" @onclick:preventDefault>
                                                                        @patientMovement.FallID
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Fachabteilung</th>
                                                                <td>@patientMovement.Fachabteilung</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">StationID</th>
                                                                <td>@patientMovement.StationID</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Bewegungstyp</th>
                                                                <td>@patientMovement.Bewegungstyp</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Raum</th>
                                                                <td>@patientMovement.Raum</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Beginn</th>
                                                                <td>@patientMovement.Beginn</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Ende</th>
                                                                <td>@patientMovement.Ende</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>


                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info">Bewegung @indexFirst von @moveCount </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers">
                                                            <ul class="pagination" style="justify-content: flex-end;">
                                                                <li class="paginate_button page-item previous">
                                                                    <a href="" @onclick="Prev" @onclick:preventDefault class="page-link">Zurück</a>
                                                                </li>
                                                                <li class="paginate_button page-item next">
                                                                    <a href="" @onclick="NextFirst" @onclick:preventDefault class="page-link">Weiter</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-6 d-flex">
                                                <div>
                                                    <table class="table table-bordered table-hover mb-0">
                                                        <thead style="background-color: #7FBDD2;">
                                                            <tr>
                                                                <th scope="col">Daten</th>
                                                                <th scope="col">
                                                                    <EditForm Model="@symptomData">
                                                                        <label>Patient </label>
                                                                        <InputSelect @bind-Value="@symptomData.station"
                                                                                     @onclick="() => GetNextPatMov(symptomData.station)">

                                                                            @foreach (var item in patListBySym)
                                                                                    {
                                                                                <option value="@item.PatientenID">@item.PatientenID</option>
                                                                                    }
                                                                        </InputSelect>
                                                                    </EditForm>
                                                                </th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">PatientID</th>
                                                                <td>@secMovement.PatientID</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">FallID</th>
                                                                <td>
                                                                    <a href="" @onclick="() => GetPatStationary(patientMovement.PatientID, patientMovement.FallID,
                                                                                         secMovement.PatientID,secMovement.FallID)" @onclick:preventDefault>
                                                                        @secMovement.FallID
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Fachabteilung</th>
                                                                <td>@patientMovement.Fachabteilung</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">StationID</th>
                                                                <td>@secMovement.StationID</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Bewegungstyp</th>
                                                                <td>@secMovement.Bewegungstyp</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Raum</th>
                                                                <td>@secMovement.Raum</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Beginn</th>
                                                                <td>@secMovement.Beginn</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Ende</th>
                                                                <td>@secMovement.Ende</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>

                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info">Bewegung @indexSec von @secMoveCount </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers">
                                                            <ul class="pagination" style="justify-content: flex-end;">
                                                                <li class="paginate_button page-item previous">
                                                                    <a href="" @onclick="PrevSec" @onclick:preventDefault class="page-link">Zurück</a>
                                                                </li>
                                                                <li class="paginate_button page-item next">
                                                                    <a href="" @onclick="NextSec" @onclick:preventDefault class="page-link">Weiter</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Kein Patient aus der Patienten Tabelle oben ausgewählt!</p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-10 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <h5 class="card-title">Stationärer Versorgungsfall</h5>
                                </div>

                                <div class="card-body">

                                    @if (patStationary != null && patStationary.Count() != 0)
                                    {
                                        <div class="row">
                                            <div class="col-6 d-flex">
                                                <table class="table table-bordered table-hover mb-0">
                                                    <thead style="background-color: #7FBDD2;">
                                                        <tr>
                                                            <th scope="col">Daten</th>
                                                            <th scope="col">Patient</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">PatientID</th>
                                                            <td>@patStationary.First().PatientID</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">FallID</th>
                                                            <td>@patStationary.First().FallID</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Datum der Aufnahme</th>
                                                            <td>@patStationary.First().Datum_Uhrzeit_der_Aufnahme</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Aufnahmeanlass</th>
                                                            <td>@patStationary.First().Aufnahmeanlass</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Versorgungsfallgrund</th>
                                                            <td>@patStationary.First().Versorgungsfallgrund</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Datum der Entlassung</th>
                                                            <td>@patStationary.First().Datum_Uhrzeit_der_Entlassung</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Art der Entlassung</th>
                                                            <td>@patStationary.First().Art_der_Entlassung</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-6 d-flex">
                                                <table class="table table-bordered table-hover mb-0">
                                                    <thead style="background-color: #7FBDD2;">
                                                        <tr>
                                                            <th scope="col">Daten</th>
                                                            <th scope="col">Patient</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">PatientID</th>
                                                            <td>@secPatStationary.First().PatientID</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">FallID</th>
                                                            <td>@secPatStationary.First().FallID</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Datum der Aufnahme</th>
                                                            <td>@secPatStationary.First().Datum_Uhrzeit_der_Aufnahme</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Aufnahmeanlass</th>
                                                            <td>@secPatStationary.First().Aufnahmeanlass</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Versorgungsfallgrund</th>
                                                            <td>@secPatStationary.First().Versorgungsfallgrund</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Datum der Entlassung</th>
                                                            <td>@secPatStationary.First().Datum_Uhrzeit_der_Entlassung</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Art der Entlassung</th>
                                                            <td>@secPatStationary.First().Art_der_Entlassung</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Kein Stationärer Versorgungsfall aus der Patientenansicht rechts ausgewählt!</p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private int moveCount;
    private int secMoveCount;
    private int first = 0;
    private int second = 0;
    private int indexFirst = 1;
    private int indexSec = 1;
    private bool status;
    Dictionary<string, Dictionary<string, int>> allSymGroup;

    List<SymptomModel> patListBySym;
    List<PatientMovementModel> firstMovementList;
    List<PatientMovementModel> secondMovementList;
    PatientMovementModel patientMovement;
    PatientMovementModel secMovement;
    SymptomData symptomData = new SymptomData();
    List<StationaryDataModel> patStationary;
    List<StationaryDataModel> secPatStationary;

    protected override async Task OnInitializedAsync()
    {
        status = true;
        await Task.Run(GetAllSym);

        if (allSymGroup == null && status == true)
        {
            Logger.LogWarning("Symptome.razor: EhrData stehen am " + DateTime.Now.ToString("yyyy-MM-dd") + " nicht zu Verfügung!");
            allSymGroup = null;
            status = false;
        }
    }

    private void GetAllSym()
    {
        try
        {
            //Symptom min. 3mal in einer Station aufgetreten ist.
            allSymGroup = symptomService.GetAllSymGroup(symptomData.datum, 3);
            if (allSymGroup == null)
            {
                status = false;
                Logger.LogWarning("Ehr-Datan stehen nicht zur Verfügung!");
            }
            else
            {
                Logger.LogInformation("Ehr-Datan wurden erfolgreich heruntergeladen");
            }

        }
        catch (Exception)
        {
            Logger.LogWarning("Ehr-Datan stehen nicht zur Verfügung!");
            status = false;
        }
    }

    private void GetPatListBySta(string symptomName, string station)
    {
        patListBySym = symptomService.GetAllPatBySta(symptomName, symptomData.datum, station);
        Logger.LogInformation("Ehr-Datan wurden erfolgreich heruntergeladen");
    }

    private void NextFirst()
    {
        if (first + 1 < moveCount)
        {
            patientMovement = firstMovementList.ElementAt(first + 1);
            first += 1;
            indexFirst += 1;
        }
    }

    private void NextSec()
    {
        if (second + 1 < secMoveCount)
        {
            secMovement = secondMovementList.ElementAt(second + 1);
            second += 1;
            indexSec += 1;
        }
    }

    private void Prev()
    {
        if (first - 1 > -1)
        {
            patientMovement = firstMovementList.ElementAt(first - 1);
            first -= 1;
            indexFirst -= 1;
        }
    }

    private void PrevSec()
    {
        if (second - 1 > -1)
        {
            secMovement = secondMovementList.ElementAt(second - 1);
            second -= 1;
            indexSec -= 1;
        }
    }

    private void GetPatMovement(string patientId)
    {
        firstMovementList = ehrDataService.GetPatMovement(patientId);
        moveCount = firstMovementList.Count();

        if (moveCount != 0)
        {
            patientMovement = firstMovementList.First();
        }
        if (secondMovementList == null)
        {
            secondMovementList = firstMovementList;
            secMoveCount = secondMovementList.Count();
            secMovement = secondMovementList.First();
        }
    }

    private void GetNextPatMov(string patientId)
    {
        secondMovementList = ehrDataService.GetPatMovement(patientId);
        secMoveCount = secondMovementList.Count();
        if (secMoveCount != 0)
        {
            secMovement = secondMovementList.First();
        }
    }

    private void GetPatStationary(string patientId, string fallId, string secPatientId, string secFallId)
    {
        patStationary = ehrDataService.StationaryPatByCaseID(patientId, fallId);
        secPatStationary = ehrDataService.StationaryPatByCaseID(secPatientId, secFallId);
    }

    public class SymptomData
    {
        [Required]
        public DateTime datum = DateTime.Today.AddDays(-7);

        [Required]
        public string name { get; set; }

        [Required]
        public string station { get; set; }
    }

}
